.s {
  margin-top: 1000px;
  position: absolute;
}

.about_name {
  text-align: center;
  font-size: 80px;
}

.last_game {
  font-size: 80px;
  margin-left: 450px;
}

.last_game_icon {
  border-radius: 30px;
  margin-left: 15px;
  margin-top: 15px;
}

.last_game_border {
  border-radius: 40px;
  margin-left: 550px;
  height: 280px;
  width: 280px;
  background: white;
}

.last_game_border:hover {
  background: #D0D0D0;
  cursor: pointer;
}

.last_game_text {
  position: absolute;
  font-size: 80px;
  margin-left: 50px;
  margin-top: 180px;
}
